## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [0]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')


df.head()

   Q2-Participated in Societies and Interest Groups  ...  response_id
0                                                 0  ...            1
1                                                 0  ...            2
2                                                 0  ...            3
3                                                 1  ...            4
4                                                 1  ...            5

[5 rows x 36 columns]

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [0]:
# answer goes here
columns=list(df.columns)
columns_q5 = [col for col in columns if col.startswith('Q5') ]
df_q5 = df[columns_q5]
df_q5.head()

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [0]:
# answer goes here
matrix_dist=squareform(pdist(df_q5,'hamming'))
matrix_dist

array([[0. , 0. , 0.1, ..., 0. , 0.2, 0.2],
       [0. , 0. , 0.1, ..., 0. , 0.2, 0.2],
       [0.1, 0.1, 0. , ..., 0.1, 0.1, 0.1],
       ...,
       [0. , 0. , 0.1, ..., 0. , 0.2, 0.2],
       [0.2, 0.2, 0.1, ..., 0.2, 0. , 0.2],
       [0.2, 0.2, 0.1, ..., 0.2, 0.2, 0. ]])

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [0]:
# answer goes here
import math

pair_number = math.factorial(df_q5.shape[0])/math.factorial(df_q5.shape[0] -2)/2
print('1. Pairs of students in the datset: ', pair_number )

print('2. Pairs with identical answers: ', np.count_nonzero(matrix_dist==1) )

print('3. Pairs without common answers: ', np.count_nonzero(matrix_dist==0) )

1. Pairs of students in the datset:  4373403.0
2. Pairs with identical answers:  582
3. Pairs without common answers:  276422

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [51]:
# answer goes here

max_similar =0
max_index =-1
min_similar = 1 
min_index =-1
for i in range(matrix_dist.shape[0]):
    if  matrix_dist[i].mean()>max_similar:
        max_similar=matrix_dist[i].mean()
        max_index=i

    if  matrix_dist[i].mean()<min_similar:
        min_similar=matrix_dist[i].mean()
        min_index=i
         

print(f'Student with id {max_index} has max similarity of  {max_similar}')
print(f'Student with id {min_index}has min similarity of {min_similar}')

Student with id 2899 has max similarity of  0.6239350912778905
Student with id 0has min similarity of 0.22474645030425963

In [53]:
df_q5.iloc[[2899]]

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
2899                                    1  ...                         1

[1 rows x 10 columns]

In [54]:
df_q5.iloc[[0]]

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0

[1 rows x 10 columns]

Student who has the highest similarity answerded 'yes' to the most of questions. On the other hand student who has the lowest similarity answered 'no' no the most of questions.