## Day 29 Lecture 2 Assignment

In this assignment, we will learn about entropy and information gain in the ID3 algorithm.

In [0]:
import numpy as np
import pandas as pd

In [0]:
tennis = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/tennis_decision.csv')

In [42]:
tennis

    Day   Outlook Temp. Humidity    Wind Decision
0     1     Sunny   Hot     High    Weak       No
1     2     Sunny   Hot     High  Strong       No
2     3  Overcast   Hot     High    Weak      Yes
3     4      Rain  Mild     High    Weak      Yes
4     5      Rain  Cool   Normal    Weak      Yes
5     6      Rain  Cool   Normal  Strong       No
6     7  Overcast  Cool   Normal  Strong      Yes
7     8     Sunny  Mild     High    Weak       No
8     9     Sunny  Cool   Normal    Weak      Yes
9    10      Rain  Mild   Normal    Weak      Yes
10   11     Sunny  Mild   Normal  Strong      Yes
11   12  Overcast  Mild     High  Strong      Yes
12   13  Overcast   Hot   Normal    Weak      Yes
13   14      Rain  Mild     High  Strong       No

Write a function to compute entropy given an input of a sequence of probabilities.

In [0]:
#answer below:

from math import log2

def entropy(x,y):
    try:
        return -x/(x+y)*log2(x/(x+y))-y/(x+y)*log2(y/(x+y))
    except ValueError:
        if x==0:
            return -y/(y)*log2(y/(y))
        elif y==0: 
            return -x/(x+y)*log2(x/(x+y))

Aggregate the tennis decision table for each value of each column. Start with Outlook below. Compute the weighted mean of the entropy for outlook (the weighted mean of the yes decision and the no decision).

In [92]:
# answer below:
total_y =tennis[tennis['Decision']=='Yes'].shape[0]
total_n =tennis[tennis['Decision']=='No'].shape[0]
print('initial entropy: ', entropy(total_y,total_n))

lst_uniq = list(tennis['Outlook'].unique())

for name in lst_uniq:
    y_total = tennis[(tennis['Outlook']==name) & (tennis['Decision'] =='Yes')].shape[0]
    n_total = tennis[(tennis['Outlook']==name) & (tennis['Decision'] =='No')].shape[0]

    H_p = entropy(y_total,n_total)
    H_n = entropy(total_y-y_total,total_n-n_total)
    y = tennis.shape[0]
    result = (y_total+n_total)/y*H_p + (y-y_total-n_total)/y*H_n  

    print(name, result)



tennis.shape

initial entropy:  0.9402859586706309
Sunny 0.8380423950607804
Overcast 0.7142857142857143
Rain 0.9371011056259821

(14, 6)

Compute the weighted mean of the entropy for temperature, humidity and wind as well and decide based on these values which should be the first variable chosen for a split.

In [94]:
# answer below:
total_y =tennis[tennis['Decision']=='Yes'].shape[0]
total_n =tennis[tennis['Decision']=='No'].shape[0]
print('initial entropy: ', entropy(total_y,total_n))

col_lst = ['Outlook','Temp.','Humidity','Wind']

entropy_lst=[]
for sname in col_lst:
    lst_uniq = list(tennis[sname].unique())
    print('\n---',sname)
    for name in lst_uniq:
        y_total = tennis[(tennis[sname]==name) & (tennis['Decision'] =='Yes')].shape[0]
        n_total = tennis[(tennis[sname]==name) & (tennis['Decision'] =='No')].shape[0]

        H_p = entropy(y_total,n_total)
        H_n = entropy(total_y-y_total,total_n-n_total)
        y = tennis.shape[0]
        result = (y_total+n_total)/y*H_p + (y-y_total-n_total)/y*H_n  

        print(name, result)

initial entropy:  0.9402859586706309

--- Outlook
Sunny 0.8380423950607804
Overcast 0.7142857142857143
Rain 0.9371011056259821

--- Temp.
Hot 0.9152077851647805
Mild 0.9389462162661897
Cool 0.9253298887416583

--- Humidity
High 0.7884504573082896
Normal 0.7884504573082896

--- Wind
Weak 0.8921589282623617
Strong 0.8921589282623617