## Day 82 Lecture 1 Assignment

In this assignment, we will learn about activation functions. We will create a neural network and measure the model's performance using different activations.

In [0]:
# Install tf2.0
!pip install tensorflow-gpu==2.0.0-rc1

In [0]:
import numpy as np
import pandas as pd

We will import the famous titanic dataset below and produce a neural network that will predict the chance of survival for a passenger.

In [0]:
titanic = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/titanic.csv')

In [16]:
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

We'll perform some feature engineering

Let's start by keeping only the columns we'd like to use for our analysis. Keep only the columns: Survived, Pclass, Sex, SibSp, Parch, and Embarked

In [17]:
# Answer below:
df = titanic[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']]
df.head()

   Survived  Pclass     Sex  SibSp  Parch Embarked
0         0       3    male      1      0        S
1         1       1  female      1      0        C
2         1       3  female      0      0        S
3         1       1  female      1      0        S
4         0       3    male      0      0        S

Now examine how many rows contain missing data. Given how much missing data we have, should we remove the column with the most missing data, or remove all rows containing missing data? Do what you think is best.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
SibSp       891 non-null int64
Parch       891 non-null int64
Embarked    889 non-null object
dtypes: int64(4), object(2)
memory usage: 41.9+ KB

In [19]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Embarked    2
dtype: int64

In [20]:
# Answer below: 
df.dropna()

     Survived  Pclass     Sex  SibSp  Parch Embarked
0           0       3    male      1      0        S
1           1       1  female      1      0        C
2           1       3  female      0      0        S
3           1       1  female      1      0        S
4           0       3    male      0      0        S
..        ...     ...     ...    ...    ...      ...
886         0       2    male      0      0        S
887         1       1  female      0      0        S
888         0       3  female      1      2        S
889         1       1    male      0      0        C
890         0       3    male      0      0        Q

[889 rows x 6 columns]

Now we'll create a one hot encoding of the variables Pclass, sex, and Embarked

In [21]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [22]:
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [23]:
df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [0]:
# Answer below:
df = pd.get_dummies(data=df, columns=['Pclass', 'Sex','Embarked'], drop_first=True)

In [25]:
df.head()

   Survived  SibSp  Parch  Pclass_2  Pclass_3  Sex_male  Embarked_Q  Embarked_S
0         0      1      0         0         1         1           0           1
1         1      1      0         0         0         0           0           0
2         1      0      0         0         1         0           0           1
3         1      1      0         0         0         0           0           1
4         0      0      0         0         1         1           0           1

Split the data into train and test. 20% of the data should be set aside for testing. Use Survived as your target variable.

In [33]:
# Answer below
from sklearn.model_selection import train_test_split
X = df.drop('Survived',1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=25)
X_train.shape, X_test.shape

((712, 7), (179, 7))

At this point, we are ready to create a model. Import `Sequential` and `Dense` from Keras

In [0]:
# Answer below:
from keras.models import Sequential
from keras.layers import Dense

Create a model with 5 layers. The first layer should be a dense layer that receives the input, the last layer should be of size 1. You determine the remaining layer sizes.

Use a tanh activation for the output layer.

In [0]:
# Answer below
model = Sequential()
model.add(Dense(100,input_shape = (X_train.shape[1],),activation='relu'))
model.add(Dense(100,activation='relu'))
model.add(Dense(100,activation='relu'))
model.add(Dense(100,activation='relu'))
model.add(Dense(1,activation='tanh'))

Compile the model using the adam optimizer, binary crossentropy loss, and the accuracy metric.

Fit the model using a batch size of 80 over 200 epochs.

In [46]:
# Answer below:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train,y_train, batch_size=80, epochs=20, verbose=1)
score = model.evaluate(X_test,y_test)
print(score)

Epoch 1/20
712/712 [==============================] - 1s 1ms/step - loss: 1.1943 - acc: 0.5758
Epoch 2/20
712/712 [==============================] - 0s 37us/step - loss: 0.7210 - acc: 0.6138
Epoch 3/20
712/712 [==============================] - 0s 36us/step - loss: 0.6077 - acc: 0.6756
Epoch 4/20
712/712 [==============================] - 0s 36us/step - loss: 0.5398 - acc: 0.7556
Epoch 5/20
712/712 [==============================] - 0s 36us/step - loss: 0.4914 - acc: 0.7851
Epoch 6/20
712/712 [==============================] - 0s 35us/step - loss: 0.4819 - acc: 0.8020
Epoch 7/20
712/712 [==============================] - 0s 36us/step - loss: 0.4533 - acc: 0.7921
Epoch 8/20
712/712 [==============================] - 0s 34us/step - loss: 0.4327 - acc: 0.8076
Epoch 9/20
712/712 [==============================] - 0s 34us/step - loss: 0.4432 - acc: 0.8062
Epoch 10/20
712/712 [==============================] - 0s 32us/step - loss: 0.4475 - acc: 0.8006
Epoch 11/20
712/712 [==============================] - 0s 35us/step - loss: 0.4450 - acc: 0.8104
Epoch 12/20
712/712 [==============================] - 0s 39us/step - loss: 0.4267 - acc: 0.7992
Epoch 13/20
712/712 [==============================] - 0s 33us/step - loss: 0.4165 - acc: 0.8188
Epoch 14/20
712/712 [==============================] - 0s 35us/step - loss: 0.4130 - acc: 0.8076
Epoch 15/20
712/712 [==============================] - 0s 32us/step - loss: 0.4100 - acc: 0.8216
Epoch 16/20
712/712 [==============================] - 0s 36us/step - loss: 0.4104 - acc: 0.8146
Epoch 17/20
712/712 [==============================] - 0s 37us/step - loss: 0.4064 - acc: 0.8188
Epoch 18/20
712/712 [==============================] - 0s 36us/step - loss: 0.4075 - acc: 0.8202
Epoch 19/20
712/712 [==============================] - 0s 34us/step - loss: 0.4015 - acc: 0.8230
Epoch 20/20
712/712 [==============================] - 0s 35us/step - loss: 0.4011 - acc: 0.8230
179/179 [==============================] - 0s 1ms/step
[0.4232313959292193, 0.7877094978726776]

Redefine the model using a sigmoid activation for the last layer. What is the difference in accuracy.

In [0]:
# Answer below
model = Sequential()
model.add(Dense(1000,input_shape = (X_train.shape[1],),activation='relu'))
model.add(Dense(160,activation='relu'))
model.add(Dense(40,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [56]:
# Answer below:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train,y_train, batch_size=80, epochs=20, verbose=1)
score = model.evaluate(X_test,y_test)
print(score)

Epoch 1/20
712/712 [==============================] - 1s 2ms/step - loss: 0.6375 - acc: 0.6278
Epoch 2/20
712/712 [==============================] - 0s 98us/step - loss: 0.5331 - acc: 0.7542
Epoch 3/20
712/712 [==============================] - 0s 99us/step - loss: 0.5006 - acc: 0.8034
Epoch 4/20
712/712 [==============================] - 0s 104us/step - loss: 0.4731 - acc: 0.7963
Epoch 5/20
712/712 [==============================] - 0s 92us/step - loss: 0.4528 - acc: 0.7992
Epoch 6/20
712/712 [==============================] - 0s 91us/step - loss: 0.4392 - acc: 0.8090
Epoch 7/20
712/712 [==============================] - 0s 90us/step - loss: 0.4350 - acc: 0.7935
Epoch 8/20
712/712 [==============================] - 0s 109us/step - loss: 0.4242 - acc: 0.8048
Epoch 9/20
712/712 [==============================] - 0s 101us/step - loss: 0.4265 - acc: 0.8048
Epoch 10/20
712/712 [==============================] - 0s 90us/step - loss: 0.4234 - acc: 0.8104
Epoch 11/20
712/712 [==============================] - 0s 102us/step - loss: 0.4214 - acc: 0.8076
Epoch 12/20
712/712 [==============================] - 0s 102us/step - loss: 0.4128 - acc: 0.8076
Epoch 13/20
712/712 [==============================] - 0s 91us/step - loss: 0.4279 - acc: 0.8160
Epoch 14/20
712/712 [==============================] - 0s 105us/step - loss: 0.4191 - acc: 0.8174
Epoch 15/20
712/712 [==============================] - 0s 98us/step - loss: 0.4472 - acc: 0.8062
Epoch 16/20
712/712 [==============================] - 0s 90us/step - loss: 0.4364 - acc: 0.8174
Epoch 17/20
712/712 [==============================] - 0s 88us/step - loss: 0.4106 - acc: 0.8174
Epoch 18/20
712/712 [==============================] - 0s 98us/step - loss: 0.4080 - acc: 0.8160
Epoch 19/20
712/712 [==============================] - 0s 103us/step - loss: 0.4039 - acc: 0.8174
Epoch 20/20
712/712 [==============================] - 0s 91us/step - loss: 0.4030 - acc: 0.8216
179/179 [==============================] - 0s 2ms/step
[0.41582918516750444, 0.8212290486143954]