## Day 46 Lecture 1 Assignment

In this assignment, we will calculate a distance matrix for geographical Starbucks data and use it to identify locations that are close together and far apart. We will perform clustering on this dataset later on.

We will be using the "haversine" package to compute geographical distance. It can be pip installed.

In [0]:
! pip install haversine

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/d7/26/78d4fadc73b7e4c3543f9d5401892cb9a3f4202be789984826033922ec5a/haversine-2.1.2-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.1.2

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from haversine import haversine

Below is a convenience function for calculating geographical distance matrices using lat-long data.

In [0]:
def geo_sim_matrix(df, col_name = 'Coordinates'):
    """
    A function that computes a geographical distance matrix (in miles).
    Each row in the dataframe should correspond to one location.
    In addition, the dataframe must have a column containing the lat-long of each location as a tuple (i.e. (lat, long)).
    
    Parameters:
        df (pandas dataframe): an nxm dataframe containing the locations to compute similarities between.
        col (string): the name of the column containing the lat-long tuples.
        
    Returns:
        distance (pandas dataframe): an nxn distance matrix between the geographical coordinates of each location.
    """
    
    df = df.copy()
    df.reset_index(inplace=True)
    haver_vec = np.vectorize(haversine, otypes=[np.float32])
    distance = df.groupby('index').apply(lambda x: pd.Series(haver_vec(df[col_name], x[col_name])))
    distance = distance / 1.609344  # converts to miles
    distance.columns = distance.index
    
    return distance

This dataset contains the latitude and longitude (as well as several other details we will not be using) of every Starbucks in the world as of February 2017. Each row consists of the following features, which are generally self-explanatory:

- Brand
- Store Number
- Store Name
- Ownership Type
- Street Address
- City
- State/Province
- Country
- Postcode
- Phone Number
- Timezone
- Longitude
- Latitude

Load in the dataset.

In [0]:
# answer goes here
df = pd.read_csv('https://raw.githubusercontent.com/qboy21/Thinkful/master/starbucks_locations.csv')

Begin by narrowing down the dataset to a specific geographic area of interest. Since we will need to manually compute a distance matrix, which will be on the order of $n^{2}$ in terms of size, we would recommend choosing an area with 3000 or less locations. In this example, we will use Hawaii, which has about 100 locations; for reference, California has about 2800 locations. Feel free to choose a different region that is of more interest to you, if desired.

Subset the dataframe to only include records for Starbucks locations in Hawaii.

In [0]:
# answer goes here
az = df[(df['State/Province']=='AZ')&(df['Country']=='US')]
az.info()
az.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488 entries, 12153 to 12640
Data columns (total 13 columns):
Brand             488 non-null object
Store Number      488 non-null object
Store Name        488 non-null object
Ownership Type    488 non-null object
Street Address    488 non-null object
City              488 non-null object
State/Province    488 non-null object
Country           488 non-null object
Postcode          488 non-null object
Phone Number      474 non-null object
Timezone          488 non-null object
Longitude         488 non-null float64
Latitude          488 non-null float64
dtypes: float64(2), object(11)
memory usage: 53.4+ KB

           Brand  Store Number  ... Longitude Latitude
12153  Starbucks  21989-106025  ...   -112.13    33.84
12154  Starbucks    6581-67540  ...   -112.14    33.87
12155  Starbucks  14177-106635  ...   -112.13    33.84
12156  Starbucks   3765-148824  ...   -111.55    33.41
12157  Starbucks    9862-97880  ...   -111.57    33.42

[5 rows x 13 columns]

The haversine package takes tuples with 2 numeric elements and interprets them as lat-long to calculate distance, so add a new column called "Coordinates" that converts the lat and long in each row into a tuple. In other words, the last two columns of the dataframe should initially look like this:

**Latitude, Longitude**  
-121.64, 39.14  
-116.40, 34.13  
...

After adding the new column, the last three columns should look like this:

**Latitude, Longitude, Coordinates**  
-121.64, 39.14, (-121.64, 39.14)  
-116.40, 34.13, (-116.40, 34.13)  
...

In [0]:
# answer goes here
az['Coordinates'] = az[['Latitude','Longitude']].apply(tuple, axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Calculate the distance matrix using the starter code/function geo_sim_matrix() provided earlier in the notebook. It assumes the column containing the coordinates for each location is called "Coordinates". Examine the docstring for more details.

Note: the latitude and longitudes provided only go out to two decimal places, which limits the resolution of the distance calculations to about 0.5 miles. Distances that are very small may not be accurately represented here (e.g. several instances of "0 distance" for distinct Starbucks locations in very close proximity).

In [0]:
# answer goes here
az_dist = geo_sim_matrix(az)

In [0]:
az_dist.head()

index      12153      12154      12155  ...       12638       12639       12640
index                                   ...
12153   0.000000   2.150754   0.000000  ...  162.977600  156.034241  166.188400
12154   2.150754   0.000000   2.150754  ...  163.465622  156.608109  166.673233
12155   0.000000   2.150754   0.000000  ...  162.977600  156.034241  166.188400
12156  44.678482  46.496811  44.678482  ...  183.304382  175.016769  186.484085
12157  43.358982  45.184311  43.358982  ...  182.366409  174.104645  185.548706

[5 rows x 488 columns]

In [0]:
az.head()

       Brand  Store Number  ... Latitude     Coordinates
3  Starbucks  22126-218024  ...    24.48  (24.48, 54.38)
4  Starbucks  17127-178586  ...    24.51  (24.51, 54.54)
5  Starbucks  17688-182164  ...    24.40   (24.4, 54.49)
6  Starbucks  18182-182165  ...    24.40   (24.4, 54.49)
7  Starbucks  23359-229184  ...    24.46  (24.46, 54.61)

[5 rows x 14 columns]

For each Starbucks, identify its nearest neighboring location in Hawaii (and presumably in the world). Save the output to a dataframe with three columns: Location, Nearest Neighbor, and Distance (Miles).

In [0]:
# answer goes here
az2 = pd.DataFrame()

az2['Location'] = az['Store Number']

az2.head()

           Location
12153  21989-106025
12154    6581-67540
12155  14177-106635
12156   3765-148824
12157    9862-97880

In [0]:
for ind in (az2.index):
    check = az_dist[ind].where(az_dist[ind].index != ind)
    i = check.idxmin()
    #az2['Nearest Neighbor'] = az['Store Number'][i]
    az2['Distance'] = az_dist[ind][i]

In [59]:
# nn = nearest neighbor
nn ={}
for i in az_dist.index:
    distances = az_dist[i][az_dist.index !=i]
    nn[i,distances.idxmin()] = min(distances)

nn = pd.DataFrame(list(nn.items()))
nn['Location'] = nn[0].apply(lambda x: x[0])
nn['Nearest Neighbor'] = nn[0].apply(lambda x: x[1])
nn['Distance (Miles)'] = nn[1]
nn.drop(columns=[0,1], inplace = True)
nn.head()

   Location  Nearest Neighbor  Distance (Miles)
0     12153             12155          0.000000
1     12154             12153          2.150754
2     12155             12153          0.000000
3     12156             12157          1.344559
4     12157             12156          1.344559

If the nearest neighbor of a Starbucks location is far away, we could consider that Starbucks to be "on an island". Which five Starbucks in Hawaii are the most "on an island"?

In [0]:
# answer goes here