## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [0]:
# answer goes here
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/student_life_survey.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 36 columns):
Q2-Participated in Societies and Interest Groups                                                                              2958 non-null int64
Q2-Participated in Clubs                                                                                                      2958 non-null int64
Q2-Participated in Halls, JCRCs and/or Residential College CSCs                                                               2958 non-null int64
Q2-Participated in University organised events                                                                                2958 non-null int64
Q3-Interested in Arts & Culture                                                                                               2958 non-null int64
Q3-Interested in Science & Technology                                                                                         2958 non-null int64
Q3-Interested in Research and independent study                                                                               2958 non-null int64
Q3-Interested in Sports                                                                                                       2958 non-null int64
Q3-Interested in Other competitions (eg case, debates)                                                                        2958 non-null int64
Q3-Interested in Entrepreneurship                                                                                             2958 non-null int64
Q3-Interested in Volunteering                                                                                                 2958 non-null int64
Q3-Interested in Others                                                                                                       2958 non-null int64
Q4-Passionate about Animal welfare                                                                                            2958 non-null int64
Q4-Passionate about Arts/Culture/Heritage                                                                                     2958 non-null int64
Q4-Passionate about Children/Youth                                                                                            2958 non-null int64
Q4-Passionate about Community building                                                                                        2958 non-null int64
Q4-Passionate about Diversity & Inclusion (e.g. special needs, migrant worker, interfaith and intercultural understanding)    2958 non-null int64
Q4-Passionate about Environmental sustainability                                                                              2958 non-null int64
Q4-Passionate about Families                                                                                                  2958 non-null int64
Q4-Passionate about Health/Well-being (e.g mental health)                                                                     2958 non-null int64
Q4-Passionate about Seniors                                                                                                   2958 non-null int64
Q4-Passionate about Poverty reduction                                                                                         2958 non-null int64
Q4-Passionate about Education                                                                                                 2958 non-null int64
Q4-Passionate about None of the above                                                                                         2958 non-null int64
Q4-Passionate about Others                                                                                                    2958 non-null int64
Q5-Stressed about Adjustment issues                                                                                           2958 non-null int64
Q5-Stressed about Academic issues                                                                                             2958 non-null int64
Q5-Stressed about Financial issues                                                                                            2958 non-null int64
Q5-Stressed about Family issues                                                                                               2958 non-null int64
Q5-Stressed about Friendships                                                                                                 2958 non-null int64
Q5-Stressed about Romantic relationships                                                                                      2958 non-null int64
Q5-Stressed about  Health related issues                                                                                      2958 non-null int64
Q5-Stressed about Career related issues                                                                                       2958 non-null int64
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.                                           2958 non-null int64
Q5-Stressed about Others                                                                                                      2958 non-null int64
response_id                                                                                                                   2958 non-null int64
dtypes: int64(36)
memory usage: 832.1 KB

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [20]:
df.columns

Index(['Q2-Participated in Societies and Interest Groups',
       'Q2-Participated in Clubs',
       'Q2-Participated in Halls, JCRCs and/or Residential College CSCs',
       'Q2-Participated in University organised events',
       'Q3-Interested in Arts & Culture',
       'Q3-Interested in Science & Technology',
       'Q3-Interested in Research and independent study',
       'Q3-Interested in Sports',
       'Q3-Interested in Other competitions (eg case, debates)',
       'Q3-Interested in Entrepreneurship', 'Q3-Interested in Volunteering',
       'Q3-Interested in Others', 'Q4-Passionate about Animal welfare',
       'Q4-Passionate about Arts/Culture/Heritage',
       'Q4-Passionate about Children/Youth',
       'Q4-Passionate about Community building',
       'Q4-Passionate about Diversity & Inclusion (e.g. special needs, migrant worker, interfaith and intercultural understanding)',
       'Q4-Passionate about Environmental sustainability',
       'Q4-Passionate about Families',
       'Q4-Passionate about Health/Well-being (e.g mental health)',
       'Q4-Passionate about Seniors', 'Q4-Passionate about Poverty reduction',
       'Q4-Passionate about Education',
       'Q4-Passionate about None of the above', 'Q4-Passionate about Others',
       'Q5-Stressed about Adjustment issues',
       'Q5-Stressed about Academic issues',
       'Q5-Stressed about Financial issues', 'Q5-Stressed about Family issues',
       'Q5-Stressed about Friendships',
       'Q5-Stressed about Romantic relationships',
       'Q5-Stressed about  Health related issues',
       'Q5-Stressed about Career related issues',
       'Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.',
       'Q5-Stressed about Others', 'response_id'],
      dtype='object')

In [21]:
q5 = df[df.columns[pd.Series(df.columns).str.startswith('Q5')]]

q5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 10 columns):
Q5-Stressed about Adjustment issues                                                    2958 non-null int64
Q5-Stressed about Academic issues                                                      2958 non-null int64
Q5-Stressed about Financial issues                                                     2958 non-null int64
Q5-Stressed about Family issues                                                        2958 non-null int64
Q5-Stressed about Friendships                                                          2958 non-null int64
Q5-Stressed about Romantic relationships                                               2958 non-null int64
Q5-Stressed about  Health related issues                                               2958 non-null int64
Q5-Stressed about Career related issues                                                2958 non-null int64
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.    2958 non-null int64
Q5-Stressed about Others                                                               2958 non-null int64
dtypes: int64(10)
memory usage: 231.2 KB

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [22]:
q5.head()

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0
1                                    0  ...                         0
2                                    0  ...                         0
3                                    1  ...                         0
4                                    0  ...                         0

[5 rows x 10 columns]

In [23]:
# answer goes here
df2 = pd.DataFrame(squareform(pdist(q5, metric='hamming')))

df2.shape

(2958, 2958)

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [25]:
import math

pair_number = math.factorial(q5.shape[0])/math.factorial(q5.shape[0] -2)/2
print('1. Pairs of students in the datset: ', pair_number )

print('2. Pairs with identical answers: ', np.count_nonzero(df2==1) )

print('3. Pairs without common answers: ', np.count_nonzero(df2==0) )

1. Pairs of students in the datset:  4373403.0
2. Pairs with identical answers:  582
3. Pairs without common answers:  276422

In [0]:
df3 = df2.melt(df2,df2.index)

In [0]:
df3.head()

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [26]:
# answer goes here
max_similar =0
max_index =-1
min_similar = 1 
min_index =-1
for i in range(df2.shape[0]):
    if  df2[i].mean()>max_similar:
        max_similar=df2[i].mean()
        max_index=i

    if  df2[i].mean()<min_similar:
        min_similar=df2[i].mean()
        min_index=i
         

print(f'Student with id {max_index} has max similarity of  {max_similar}')
print(f'Student with id {min_index}has min similarity of {min_similar}')

Student with id 2899 has max similarity of  0.6239350912778868
Student with id 0has min similarity of 0.224746450304262

In [29]:
q5.iloc[[2899]]

      Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
2899                                    1  ...                         1

[1 rows x 10 columns]

In [30]:
q5.iloc[[0]]

   Q5-Stressed about Adjustment issues  ...  Q5-Stressed about Others
0                                    0  ...                         0

[1 rows x 10 columns]