## Day 76 Lecture 2 Assignment

In this assignment, we will learn about Dask dataframes. We will use the census dataset loaded below and perform some exploratory data analysis.

In [0]:
import dask.dataframe as dd
import numpy as np

In [0]:
census = dd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Big%20Data/acs2015_census_tract_data.csv')

In [0]:
census.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

The dataset described above contains the aggregated data for each county in the United States. For example, the number in the Carpool column describes the percent of people in the county who carpool to work.

Print all the column names in the dataset and describe the data in each column

In [0]:
#Answer below:
census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [0]:
census.describe().compute()

        CensusTract      TotalPop  ...    FamilyWork  Unemployment
count  7.400100e+04  74001.000000  ...  73194.000000  73199.000000
mean   2.839113e+10   4325.591465  ...      0.169772      9.028663
std    1.647593e+10   2129.306903  ...      0.458227      5.955441
min    1.001020e+09      0.000000  ...      0.000000      0.000000
25%    1.303901e+10   2891.000000  ...      0.000000      5.100000
50%    2.804700e+10   4063.000000  ...      0.000000      7.700000
75%    4.200341e+10   5442.000000  ...      0.000000     11.400000
max    7.215375e+10  53812.000000  ...     26.500000    100.000000

[8 rows x 35 columns]

How many counties have a unemployement rate above 10%?

In [0]:
#Answer below:
len(census.County.loc[census.Unemployment > 10])

23530

Print the number of counties in each state.

In [0]:
# Answer below:

census.groupby("State").County.count().compute()

State
Alabama                 1181
Alaska                   167
Arizona                 1526
Arkansas                 686
California              8057
Colorado                1249
Connecticut              833
Delaware                 218
District of Columbia     179
Florida                 4245
Georgia                 1969
Hawaii                   351
Idaho                    298
Illinois                3123
Indiana                 1511
Iowa                     825
Kansas                   770
Kentucky                1115
Louisiana               1148
Maine                    358
Maryland                1406
Massachusetts           1478
Michigan                2813
Minnesota               1338
Mississippi              664
Missouri                1393
Montana                  271
Nebraska                 532
Nevada                   687
New Hampshire            295
New Jersey              2010
New Mexico               499
New York                4918
North Carolina          2195
North Dakota             205
Ohio                    2952
Oklahoma                1046
Oregon                   834
Pennsylvania            3218
Puerto Rico              945
Rhode Island             244
South Carolina          1103
South Dakota             222
Tennessee               1497
Texas                   5265
Utah                     588
Vermont                  184
Virginia                1907
Washington              1458
West Virginia            484
Wisconsin               1409
Wyoming                  132
Name: County, dtype: int64

Add a high child poverty boolean column. This column will be 1 if the rate of child poverty is over %20 and 0 otherwise.

In [0]:
census["CPB"] = (census.ChildPoverty > 20).astype(int)

What are the top 10 most populated counties?

In [0]:
#answer below:

census.set_index("County").TotalPop.nlargest(10).compute()

County
Fort Bend     53812
San Diego     39454
Sumter        38169
Fort Bend     38137
Sarasota      35527
Brazoria      33655
Montgomery    31493
Orange        30258
Cass          30256
El Paso       29238
Name: TotalPop, dtype: int64

What is the current number of partitions?

In [0]:
#Answer below:

census.npartitions

1