## Day 32 Lecture 2 Assignment

In this assignment, we will learn about SVM. We will use the csection dataset loaded below and analyze the model generated for this dataset.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
# Age -  ranges from 18 to 40  
# Delivery number - ranges from 1 to 4
# Delivery time -  {0 = timely , 1 = premature , 2 = latecomer}
# Blood of Pressure - {0 = low , 1 = normal , 2 = high }
# Heart Problem - {0 = apt, 1 = inept }

# Target - Caesarian - {0 = No, 1 = Yes }

csection = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/csection.csv')

Our goal is to predict the patient needed a csection.

In [3]:
csection.head()

   Age  Delivery number  ...  Heart Problem  Caesarian
0   22                1  ...              0          0
1   26                2  ...              0          1
2   26                2  ...              0          0
3   28                1  ...              0          0
4   22                2  ...              0          1

[5 rows x 6 columns]

Check whether the data has missing values and remove all rows containing missing values.

In [4]:
# answer below:
csection.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
Age                80 non-null int64
Delivery number    80 non-null int64
Delivery time      80 non-null int64
Blood Pressure     80 non-null int64
Heart Problem      80 non-null int64
Caesarian          80 non-null int64
dtypes: int64(6)
memory usage: 3.9 KB

Examine the distribution of delivery number, blood pressure and heart problem.

In [0]:
# answer below:

What are your conclusions from the distribtuions of these variables? Write them below.

In [0]:
# answer below:

Create dummy variables from all columns containing categorical variables with more than two values.

In [0]:
# answer below:

Split the data into test and train with test containing 20% of the data.

In [0]:
# answer below:

Use the linear kernel to train a SVC model on our training data. Report the score for the test data.

In [0]:
# answer below: