## Day 47 Lecture 1 Assignment

In this assignment, we will apply k-means clustering to a dataset containing player-season statistics for NBA players from the past four years.

In [0]:
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
sns.set()

This dataset contains player-season statistics for NBA players from the past four years. Each row in this dataset represents a player's per-game averages for a single season. 

This dataset contains the following variables:

- Seas: season ('2019' = 2018-2019 season, '2018' = 2017-2018 season, etc.)
- Player: player name
- Pos: position
- Age: age
- Tm: team
- G: games played
- GS: games started
- MP: minutes played
- FG: field goals
- FGA: field goals attempted
- FG%: field goal percentage
- 3P: 3 pointers
- 3PA: 3 pointers attempted
- 3P%: 3 point percentage
- 2P: 2 pointers
- 2PA: 2 pointers attempted
- 2P%: 2 point percentage
- eFG%: effective field goal percentage
- FT: free throws
- FTA: free throws attempted
- FT%: free throw percentage
- ORB: offensive rebound
- DRB: defensive rebound
- TRB: total rebounds
- AST: assists
- STL: steals
- BLK: blocks
- TOV: turnovers
- PF: personal fouls
- PTS: points

Load the dataset.

In [0]:
# answer goes here
df = pd.read_csv('https://raw.githubusercontent.com/qboy21/Thinkful/master/nba_player_seasons.csv')

The goal is to cluster these player-seasons to identify potential player "archetypes".

Begin by removing players whose season did not meet one of the following criteria:
1. Started at least 20 games
2. Averaged at least 10 minutes per game

In [0]:
# answer goes here
df1 = df.loc[(df['GS'] >= 20) | (df['MP'] >= 10)]

Choose a subset of numeric columns that is interesting to you from an "archetypal" standpoint. 

We will choose the following basic statistics: **points, total rebounds, assists, steals, blocks**, and **turnovers**, but you should feel free to choose other reasonable feature sets if you like. Be careful not to include too many dimensions (curse of dimensionality).

In [0]:
# answer goes here
X = df1[['PTS','TRB','AST','STL','BLK','TOV']]

Standardize the features in your dataset using scikit-learn's StandardScaler, which will set the mean of each feature to 0 and the variance to 1.

In [0]:
# answer goes here
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

Run K-means clustering with K = 3 and print out the resulting centroids. When printing the centroids, transform the scaled centroids back into their corresponding unscaled values. What "archetypes" do you see?

In [31]:
# answer goes here
kmeans_c = KMeans(n_clusters=3, random_state=123)
kmeans_c.fit(X_std)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=123, tol=0.0001, verbose=0)

In [49]:
scaler.inverse_transform(kmeans_c.cluster_centers_)

array([[17.71464286,  4.64892857,  5.1525    ,  1.22285714,  0.41357143,
         2.49642857],
       [ 6.74108734,  2.84483066,  1.48351159,  0.54919786,  0.28395722,
         0.87174688],
       [12.45524862,  7.19088398,  1.7839779 ,  0.82762431,  0.9801105 ,
         1.48535912]])

In [56]:
centers_d = pd.DataFrame(centers, columns = ['Points', 'Rebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers']) 
centers_d

      Points   Rebounds   Assists    Steals    Blocks  Turnovers
0  10.517361   6.462153  1.511806  0.712500  0.871181   1.262500
1  18.312000  10.444000  2.584000  0.985333  1.702667   2.286667
2  19.456329   5.091772  6.155063  1.377215  0.441139   2.822785
3  11.245778   3.424889  2.849556  0.918667  0.277111   1.473333
4   5.668726   2.656494  1.095839  0.438966  0.272636   0.719672

Experiment with different values of K. Do any further interesting archetypes come out?

In [0]:
# answer goes here
kmeans_c = KMeans(n_clusters=5, random_state=123)
kmeans_c.fit(X_std)
centers = scaler.inverse_transform(kmeans_c.cluster_centers_)

In [54]:
# dataframe for viewing centroid cluster
centers_df = pd.DataFrame(centers, columns = ['Points', 'Rebounds', 'Assists', 'Steals', 'Blocks', 'Turnovers']) 
centers_df

      Points   Rebounds   Assists    Steals    Blocks  Turnovers
0  10.517361   6.462153  1.511806  0.712500  0.871181   1.262500
1  18.312000  10.444000  2.584000  0.985333  1.702667   2.286667
2  19.456329   5.091772  6.155063  1.377215  0.441139   2.822785
3  11.245778   3.424889  2.849556  0.918667  0.277111   1.473333
4   5.668726   2.656494  1.095839  0.438966  0.272636   0.719672