## Day 33 Lecture 1 Assignment

In this assignment, we will learn about SVM. We will use the csection dataset loaded below and analyze the model generated for this dataset.

In [0]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
# Age -  ranges from 18 to 40  
# Delivery number - ranges from 1 to 4
# Delivery time -  {0 = timely , 1 = premature , 2 = latecomer}
# Blood of Pressure - {0 = low , 1 = normal , 2 = high }
# Heart Problem - {0 = apt, 1 = inept }

# Target - Caesarian - {0 = No, 1 = Yes }

csection = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/csection.csv')

Recall our c section dataset. Process the data by removing any missing values, creating the appropriate dummy variables and splitting the data into train and test (20% in the test dataset).

In [0]:
csection.head()

   Age  Delivery number  ...  Heart Problem  Caesarian
0   22                1  ...              0          0
1   26                2  ...              0          1
2   26                2  ...              0          0
3   28                1  ...              0          0
4   22                2  ...              0          1

[5 rows x 6 columns]

In [0]:
# answer below:
dummy_cols = ['Delivery time', 'Blood Pressure','Heart Problem']
cmod = pd.DataFrame()
cmod = pd.get_dummies(csection, columns=dummy_cols, drop_first=True)
cmod

    Age  Delivery number  ...  Blood Pressure_2  Heart Problem_1
0    22                1  ...                 1                0
1    26                2  ...                 0                0
2    26                2  ...                 0                0
3    28                1  ...                 1                0
4    22                2  ...                 0                0
..  ...              ...  ...               ...              ...
75   27                2  ...                 0                0
76   33                4  ...                 0                0
77   29                2  ...                 1                0
78   25                1  ...                 0                0
79   24                2  ...                 0                0

[80 rows x 8 columns]

In [0]:
# train test
from sklearn.model_selection import train_test_split

X = cmod.drop('Caesarian',1)
y = cmod['Caesarian']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 33)

Generate an SVC model with a linear kernel. Set C=10. Check the score for both train and test. Does the model overfit?

In [0]:
# answer below:
from sklearn.svm import SVC

svc = SVC(kernel='linear', C=10)
svc.fit(X, y)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
svc.score(X_train, y_train)

0.75

In [0]:
svc.score(X_test, y_test)

0.5

If you have determined the model to overfit, pick a value of C based on your conclusion and show that the difference between the scores has improved.

In [0]:
# answer below:
from sklearn.svm import SVC

svc2 = SVC(kernel='linear', C=0.1)
svc2.fit(X, y)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
svc2.score(X_train, y_train)

0.734375

In [0]:
svc2.score(X_test, y_test)

0.5

What if we switched up the target variable? Let assume that we know whether a patient received a c section. Let's try to predict whether she has high blood pressure. 

Create the SVC model with a linear kernel with Blood Pressure as the target variable. Report both the train and the test scores.

In [0]:
cmod1 = cmod.loc[cmod['Caesarian']==1]

In [0]:
cmod1.head()

    Age  Delivery number  ...  Blood Pressure_2  Heart Problem_1
1    26                2  ...                 0                0
4    22                2  ...                 0                0
7    32                3  ...                 0                0
9    27                1  ...                 0                0
11   33                1  ...                 0                0

[5 rows x 8 columns]

In [0]:
cmod1['Caesarian'].value_counts()

1    46
Name: Caesarian, dtype: int64

In [0]:
# answer below:
X1 = cmod1.drop(columns=['Caesarian', 'Blood Pressure_2'],axis = 1)
y1 = cmod1['Blood Pressure_2']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size = .2, random_state = 33)

In [0]:
svc1 = SVC(kernel='linear', C=0.1)
svc1.fit(X1, y1)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
svc1.score(X_train, y_train)

0.6388888888888888

In [0]:
svc1.score(X_test, y_test)

0.9

Now try to generate the model using the one vs. one decision function.

In [0]:
# answer below:
svc1 = SVC(kernel='linear', decision_function_shape='ovo', C=0.1)
svc1.fit(X1, y1)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovo', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
svc1.score(X_train, y_train)

0.6388888888888888

In [0]:
svc1.score(X_test, y_test)

0.9